.container1{
    width: 100%;
    height: 340vh;
    background: var(--background);
    padding-top: 12%;
    margin-top: -16%;

}
.container{
    width: 90%;
    margin-left: 5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60%;
    margin-bottom: 60%;
    
}
img{
    width: 550px;
    height: 300px;
    cursor: pointer;
}

.left-box{
    height: 500px;
    width: 50%;
    margin-left: -50%;
    position: relative;
    padding: 10px;
    
}
.left-box::after{
    content: "";
    width: 5px;
    height: 100%;
    background: orangered;
    position: absolute;
    top: 0;
    right: 0;
    animation: afterdown 10s forwards;
}

@keyframes afterdown {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.right-box::after{
    content: "";
    width: 5px;
    height: 100%;
    background: orangered;
    position: absolute;
    top: 0;
    left: 15px;
    animation: afterdown 10s forwards;

}
.right-box{
    height: 500px;
    width: 50%;
    margin-left: 50%;
    position: relative;
    padding: 10px;
    
}
 .h1{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    
}
 .h1::first-letter{
    font-size: 60px;
    color: orangered;
}
.h1::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 2px;
    background: orangered;
    width: 40%;
    height: 3px;
}
.h1::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 2px;
    background: orangered;
    width: 30%;
    height: 3px;
}

.box-info{
    width: 550px;
    height: 300px;
    box-shadow: 2px 2px 1em #555;
    position: relative;
    background: #777;
    z-index: 1;
    position: relative;

}
.title{
    top: -18px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1;
    color: transparent;
    transition: .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title:hover{
    color: white;
    background-color: rgba(0, 0, 0, .7);

}
.left-box .box-info::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #777;
    right: -20px;
    top: 20px;
    transform: rotate(45deg);
    z-index: -1;
}
.right-box .box-info::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #777;
    left: -20px;
    top: 20px;
    transform: rotate(45deg);
    z-index: -1;
}
.right-box .box-info{
    margin-left: 50px;
}



@media All and (max-width: 280px) {
    .left-box, .right-box, img, .box-info{
        width: 200px;
        height: 200px;
    }
    img{
        width: 180px;
        max-width: 250px;
        height: 200px;
        
    }
    .box-info{
        max-width: 250px;
        max-height: 180px;
        
    }
    .h1{
        font-size: 30px;
        font-weight: bold;
        position: relative;
        margin-top: 50px;
        
        
    }
     .h1::first-letter{
        font-size: 50px;
        color: orangered;
    }
   
    .container1{
        height: 100vh;
        
    }
    .container{
        margin-top: 80%;
    }

    .left-box{
        margin-left: -210px;
        max-width: 220px;
        padding: 0;
        margin-bottom: 10px;
        
    }
    .right-box{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    
    .right-box .box-info{
       margin-left: 60px;
        max-width: 250px;
        height: 160px;
        

    }

    .left-box .box-info::after, .right-box .box-info::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        
    }
}

@media All and (max-width: 600px) {
    .left-box, .right-box, img, .box-info{
        width: 300px;
        height: 180px;
    }
    .container1{
        height: 190vh;
    }
    .container{
        margin-top: 60%;
    }

    .left-box::after, .right-box::after{
        width: 0;
    }

    .left-box{
        margin-left: -120px;
    }
    .right-box{
        margin-left: -5px;
    }
    
}


@media All and (max-width: 460px) {
    .left-box, .right-box, img, .box-info{
        width: 270px;
        height: 180px;
    }
    .container1{
        height: 200vh;
    }
    .container{
        margin-top: 60%;
    }

    

    .left-box{
        margin-left: -50px;
    }
    .right-box{
        margin-left: -50px;
    }
}

@media All and (max-width: 400px) {
    .container1{
        margin-top: -18%;
        height: 220vh;
    }
    .container{
        margin-top: 100%;
    }
}

@media All and (max-width: 820px) {
    .left-box, .right-box, img, .box-info{
        width: 400px;
        height: 200px;
    }
    .h1{
        margin-top: 400px;
    }
   
    .container1{
        height: 180vh;
    }
    .container{
        margin-top: 40%;
    }

    .left-box::after, .right-box::after{
        width: 0;
    }

    .left-box{
        margin-left: -220px;
    }
    .right-box{
        margin-left: 50px;
    }
}

@media All and (max-width: 920px) {
    .left-box, .right-box, img, .box-info{
        width: 500px;
        height: 250px;
    }
   
    .container1{
        height: 150vh;
    }
    .container{
        margin-top: 30%;
    }

    .left-box::after, .right-box::after{
        width: 0;
    }

    .left-box{
        margin-left: -220px;
    }
    .right-box{
        margin-left: 50px;
    }
}

@media All and (max-width: 540px) {
    .left-box, .right-box, img, .box-info{
        width: 300px;
        height: 200px;
    }
   
    .container1{
        height: 230vh;
    }
    .container{
        margin-top: 50%;
    }

    .left-box::after, .right-box::after{
        width: 0;
    }

    .left-box{
        margin-left: -40px;
    }
    .right-box{
        margin-left: -80px;
    }
}